
aiojobs==0.2.2

decorator==4.4.1

async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
danmu-abc==0.1.3
fire==0.3.1
idna==2.9
multidict==4.7.5
pampy==0.3.0
pyasn1==0.4.8
PyMySQL==0.9.3
requests==2.23.0
rsa==4.0
schedule==0.6.0
six==1.15.0
termcolor==1.1.0
toml==0.10.0
urllib3==1.25.9
yarl==1.4.2
